{
	"plugins": [
		"babel",
		"react"
	],
	"parserOptions":{
		"ecmaVersion": 6,
		"sourceType": "module",
		"ecmaFeatures":{
			"jsx": true,
			"experimentalObjectRestSpread": true
		}
	},
	"globals": {
        "window": true,
        "Promise": true,
        "INFINITY": true,
		"module": true,
		"require": true

    },
	"parser": "babel-eslint",
	"env":{
		"browser": true,
		"node": true
	},
	"extends": [
		"eslint:recommended",
		"standard-preact"
	],
	"rules":{
		"indent": [0, "tab", { "SwitchCase": 1, "VariableDeclarator": 1 }],
        "no-tabs": 0,
        "react/jsx-indent": [0, "tab"],
        "react/jsx-indent-props": [2, "tab"],
        "react/jsx-max-props-per-line": 0,
        "jsx-quotes": [2, "prefer-double"]
	}
}