@import '~styles/index.scss';
.searchBar{
    border: 1px solid #ddd;
    background: #fff;
    width: 325px;
    max-height: 60px;
    float: left;
    overflow-y: auto;
    padding-left: 30px;
    position: relative;

    .searchIcon{
        background-image: url(images/search.svg);
        width: 16px;
        height: 14px;
        background-color: transparent;
        margin-right: 12px;
        float: left;
        margin:6px 7px;
        background-repeat: no-repeat;
        cursor:pointer;
        position: absolute;
        left: 0px;
    }
    .inputStyle{
        border:0px;
        height: 26px;
        outline: none;
        float: left;
        font-size: 12px;
        width:100%;
        color: #888;
        ::placeholder{
            color: #969696
        }
    }
}

.tagItemTag {
    float: left;
    background: #999;
    color: #fff;
    padding: 2px 7px;
    margin:4px 10px 4px 0;
    border: 1px solid #999;
    border-radius: 2px;
    max-width: 280px;
    line-height: 16px;
    .tagItemTagname {
        font-size: 12px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        float: left;
        max-width: 250px;
        margin-right: 10px;
    }
    .icon {
      font-size: 8px;
      padding: 0px;
      float: left;
      cursor: pointer;
      width: 8px;
      height: 8px;
      margin-top: 4px;
    }
}
