.dropDownmenu {
    width: 120px;
    position: relative;
    outline: none;
    .selectedOptionContainer {
        margin: 0;
        list-style: none;
        padding: 0;
        cursor: pointer;
        .focus{
            border-bottom: 1px solid #0072bc;
        }
        .arrow {
            position: absolute;
            right: 5px;
            top: 2px;
            transform: rotate(90deg);
        }
        .selectedOption {
            min-height: 20px;
            padding-bottom: 5px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            color: #000;
            background: #f9f9f9;
            display: inline-block;
            width: 80%;
            text-align: right;
        }
    }
    .optionsContainer {
        position: absolute;
        background: #fff;
        z-index: 10000;
        width: 100%;
        color: #999;
        border-top: none;
        list-style-type: none;
        background: #fff;
        margin: 0;
        padding: 0;
        padding: 8px 0;
        border-radius: 4px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.06);
        li {
            margin: 0;
            padding: 5px;
            font-size: 13px;
            cursor: pointer;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            text-align: right;
            &:hover {
                color: #000;
            }
        }
    }
}