@import '~styles/index.scss';
.dropdownMenu{
    width:200px;
    position: absolute;
    top:38px;
    right: 0;
    display: block;
    float: left;
    min-width: 160px;
    padding: 0;
    margin:0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    border-radius: 0;
    background-clip: padding-box;
    border: 1px solid #ddd;

    ul{
        list-style:none;
        padding: 0px;
        margin: 0px;

         li{
            font-size: 12px;
            color: #666;
            padding:5px 0px 5px 10px;
            .menuItemHeading{
                font-weight: 600;
                font-size:13px;
            }
            .checkbox{
                float: left;
                width:14px;
                height: 14px;
                background-image: url(images/checkbox.svg);
                background-repeat: no-repeat;
                margin-right: 10px;
                margin-top: 3px;
                background-size: 12px;

                &.checkedbox{
                background-image: url(images/checkedbox.svg);
                }
            }
            .menuItem{
            float: left;
            max-width: 142px;
            cursor: pointer;
            }
         }
    }
}


.dropdownMenu{
  ul{
    min-height: 150px;
    padding:10px 0px;
  }
    &:before, &:after{
    bottom: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;

    }
}
.dropdownMenu:before {
    border-color: rgba(194,225,245,0);
    border-bottom-color: #ddd;
    border-width: 10px;
    right:3px;
}
.dropdownMenu:after {
    border-color: rgba(136,183,213,0);
    border-bottom-color: #fff;
    border-width: 9px;
    right:4px;
}
.menu{
    width: 245px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    font-size: 13px;
    padding: 10px;
    clear: both;
    font-weight: 400;
    line-height: 16px;
    text-decoration: none;
    color: #000;
    white-space: nowrap;
    cursor: pointer;
}
